.text {
  font-size: 25px;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  text-decoration: underline;
  font-weight: 700;
  color: darkgoldenrod;
  text-transform: uppercase;
  text-indent: 1px;
  text-shadow: darkorange 1px 1px 5px;
  word-spacing: 5px;
  letter-spacing: 3px;
  white-space: normal;
  line-height: 30px;
}
